// variables used in this project


$DarkBlueintroandemail: hsl(217, 28%, 15%);
$DarkBluemain: hsl(218, 28%, 13%);
$DarkBluefooter: hsl(216, 53%, 9%);
$DarkBluetestimonials: hsl(219, 30%, 18%);

$Cyancall: hsl(176, 68%, 64%);
$Bluecall: hsl(198, 60%, 50%);
$LightRederror: hsl(0, 100%, 63%);